# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
venv/
node_modules/

# Ignore logs and database files
*.log
*.sqlite3

# Ignore compiled files
*.exe
*.dll
*.so
*.dylib

# Ignore VS Code settings
.vscode/
chroma.sqlite3/

SQL_chatbot/
local_db.ipynb
test.ipynb
test.py